# Requirements needed when generating releases. See BUILD.rst for details.
invoke >= 0.20
rellu >= 0.6
docutils >= 0.14
robotframework >= 3.1.1
robotframework-seleniumlibrary >= 3.3.1
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
selenium>=4.15.1 # not directly required, pinned by Snyk to avoid a vulnerability
